html {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    font-size: 100%;
}

.img {
    width: 500px;
    position: relative;
    line-height: 0;
    margin-bottom: 1em;
    overflow: hidden;
    border-radius: 6px;
    padding: 1px;
    border: 1px solid #021a40;
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}